<form class="{{cssClass}}">
    <div>
        <div>
            <header class="sheet-header">
                <div class="header-fields">
                    <h1 class="charname">
                        <input name="name" type="text" value="{{data.name}}" />
                    </h1>
                </div>
            </header>
        </div>
        <div class="flexrow">
            <label>Härte: 
                <input type="number" name="data.haerte" value="{{data.data.haerte}}" />
            </label>
            <label>Ladezeit: 
                <input type="number" name="data.lz" value="{{data.data.lz}}" />
            </label>
            <label>Reichweite: 
                <input type="number" name="data.rw" value="{{data.data.rw}}" />
            </label>
            <label>Attacke: 
                <input type="number" name="data.at" value="{{data.data.at}}" />
            </label>
            <label>Verteidigung: 
                <input type="number" name="data.vt" value="{{data.data.vt}}" />
            </label>
            <label>Trefferpunkte: 
                <input type="text" name="data.tp" value="{{data.data.tp}}" />
            </label>
        </div>
        <div>
            <b>Eigenschaften </b><a class="add-eigenschaft" data-itemclass="Neue Eigenschaft">[+]</a><b>: </b>
            {{#each data.data.eigenschaften as |eig key|}}
            <div class="flexrow">
            <div class="flex1">
                <input name="data.eigenschaften.{{key}}.name" type="text" value="{{eig.name}}" />
            </div>
            <div class="flex2">
                <input name="data.eigenschaften.{{key}}.text" type="text" value="{{eig.text}}" />
            </div>
            <div class="flex0">
                <a class="del-eigenschaft" data-eigenschaftid="{{key}}"><i class="fas fa-trash"></i></a>
            </div>
        </div>
            {{/each}}
            <!-- <label>Waffeneigenschaften: 
                <input type="text" name="data.eigenschaften" value="{{data.data.eigenschaften}}" />{
            </label> -->
        </div>
        <hr>
        <a class="item-delete" data-itemid="{{data._id}}">
            <button class="clickable" type="button">
                Löschen <i class="fas fa-trash"></i>
            </button>
        </a>
    </div>
</form>
