<form class="{{cssClass}}">
    <div>
        <div>
            <header class="sheet-header">
                <div class="header-fields">
                    <h1 class="charname">
                        <input name="name" type="text" value="{{data.name}}" />
                    </h1>
                </div>
            </header>
        </div>
        <textarea rows="8" name="data.text">{{data.data.text}}</textarea>
    </div>
</form>
