<form class="{{cssClass}}">
    <div>
        <div>
            <header class="sheet-header">
                <div class="header-fields">
                    <h1 class="charname">
                        <input name="name" type="text" value="{{data.name}}" />
                    </h1>
                </div>
            </header>
        </div>
        <!-- <div class="flexrow">
             <label><b>Label:</b></label>
             <input name="data.label" value="{{item.data.label}}" type="text" data-dtype="String">
             </div> -->
        <div class="flexrow">
            <label><b>Stufe:</b></label>
            <select name="data.stufe">
                {{#select data.data.stufe}}
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                {{/select}}
            </select>
        </div>
        <div class="flexrow">
            <label><b>Gruppe:</b></label>
            <select name="data.gruppe">
                {{#select data.data.gruppe}}
                <option value="0">Sprachen</option>
                <option value="1">Schriften</option>
                <option value="2">Berufe</option>
                <option value="3">Freizeit</option>
                <option value="4">Anderes</option>
                {{/select}}
            </select>
        </div>
        <div>
            <label><b>Beschreibung:</b></label>
            <textarea name="data.text">{{data.data.text}}</textarea>
        </div>
    </div>
</form>
