<form class="{{cssClass}}">
    <div>
        <div>
            <header class="sheet-header">
                <div class="header-fields">
                    <h1 class="charname">
                        <input name="name" type="text" value="{{data.name}}" />
                    </h1>
                </div>
            </header>
        </div>
        <div class="flexrow">
            <select name="data.gruppe">
                {{#select data.data.gruppe}} {{>
                systems/Ilaris/templates/helper/select_manoever.html}} {{/select}}
            </select>
        </div>
        <div class="flexrow">
            <label><b>Voraussetzung:</b></label>
            <input
                name="data.voraussetzung"
                value="{{data.data.voraussetzung}}"
                type="text"
                data-dtype="String"
            />
        </div>
        <div class="flexrow">
            <label><b>Probe:</b></label>
            <input name="data.probe" value="{{data.data.probe}}" type="text" data-dtype="String" />
        </div>
        <div class="flexrow">
            <label><b>Gegenprobe:</b></label>
            <input
                name="data.gegenprobe"
                value="{{data.data.gegenprobe}}"
                type="text"
                data-dtype="String"
            />
        </div>
        <div>
            <label><b>Beschreibung:</b></label>
            <textarea rows="8" name="data.text">{{data.data.text}}</textarea>
        </div>
    </div>
</form>
