<form class="{{cssClass}}">
    <div>
        <div>
            <header class="sheet-header">
                <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
                <div class="header-fields">
                    <h1 class="charname">
                        <input name="name" type="text" value="{{data.name}}" />
                    </h1>
                </div>
            </header>
        </div>
        <div>
            <div class="flexrow">
                <label class="flex-fest-var" style="flex-basis: 100px"><b>Schaden: </b></label>
                <div class="flexrow">
                    <input
                        name="data.dice_anzahl"
                        value="{{data.data.dice_anzahl}}"
                        type="text"
                        data-dtype="Number"
                    />
                    <label class="flex-fest-var" style="flex-basis: 40px">d6+</label>
                    <input
                        name="data.dice_plus"
                        value="{{data.data.dice_plus}}"
                        type="text"
                        data-dtype="Number"
                    />
                </div>
            </div>
            <div class="flexrow">
                <label class="flex-fest-var" style="flex-basis: 100px"><b>Fertigkeit: </b></label>
                <div class="flexrow">
                    <input
                        name="data.fertigkeit"
                        value="{{data.data.fertigkeit}}"
                        type="text"
                        data-dtype="String"
                    />
                    <label class="flex-fest-var" style="flex-basis: 40px"><b>Talent: </b></label>
                    <input
                        name="data.talent"
                        value="{{data.data.talent}}"
                        type="text"
                        data-dtype="String"
                    />
                </div>
            </div>
            <div class="flexrow">
                <label class="flex-fest-var" style="flex-basis: 100px"><b>WM: </b></label>
                <div class="flexrow">
                    <input
                        name="data.wm_at"
                        value="{{data.data.wm_at}}"
                        type="text"
                        data-dtype="Number"
                    />
                    <label class="flex-fest-var" style="flex-basis: 1px"><b>/</b></label>
                    <input
                        name="data.wm_vt"
                        value="{{data.data.wm_vt}}"
                        type="text"
                        data-dtype="Number"
                    />
                    <label class="flex-fest-var" style="flex-basis: 30px"><b>RW: </b></label>
                    <input
                        name="data.rw"
                        value="{{data.data.rw}}"
                        type="text"
                        data-dtype="Number"
                    />
                </div>
            </div>
            <div class="flexrow">
                <label class="flex-fest-var" style="flex-basis: 100px"><b>Härte: </b></label>
                <div class="flexrow">
                    <input
                        name="data.haerte"
                        value="{{data.data.haerte}}"
                        type="text"
                        data-dtype="Number"
                    />
                    <label class="flex-fest-var" style="flex-basis: 100px"
                        ><b>Beschädigung: </b></label
                    >
                    <input
                        name="data.beschaedigung"
                        value="{{data.data.beschaedigung}}"
                        type="text"
                        data-dtype="Number"
                    />
                </div>
            </div>
            <div class="flexrow">
                <label class="flex-fest-var" style="flex-basis: 100px"
                    ><b>Eigenschaften: </b></label
                >
                <span>
                    {{#each data.data.eigenschaften as |val key|}}
                    <!-- <label>{{key}}</label>
                         <label>{{val}}</label> -->
                    <label>{{get_label key}}</label>
                    <input
                        name="data.eigenschaften.{{key}}"
                        data-dtype="Boolean"
                        type="checkbox"
                        {{checked
                        .}}
                    />
                    <label> | &nbsp;</label>
                    {{/each}}
                </span>
            </div>
            {{#if hasOwner}}
            <label class="flex-fest-var" style="flex-basis: 100px"><b>Eigene Mod.: </b></label>
            <div class="flexrow">
                <label class="flex-fest-var" style="flex-basis: 100px"><b>WM: </b></label>
                <div class="flexrow">
                    <input
                        name="data.mod_at"
                        value="{{data.data.mod_at}}"
                        type="text"
                        data-dtype="Number"
                    />
                    <label class="flex-fest-var" style="flex-basis: 1px"><b>/</b></label>
                    <input
                        name="data.mod_vt"
                        value="{{data.data.mod_vt}}"
                        type="text"
                        data-dtype="Number"
                    />
                </div>
            </div>
            <div class="flexrow">
                <label class="flex-fest-var" style="flex-basis: 100px"
                    ><b>Schadensbonus: </b></label
                >
                <input
                    name="data.mod_schaden"
                    value="{{data.data.mod_schaden}}"
                    type="text"
                    data-dtype="String"
                />
            </div>
            {{/if}}
            <label><b>Beschreibung: </b></label>
            <textarea rows="6" name="data.text">{{data.data.text}}</textarea>
            <div class="flexrow">
                <label class="flex-fest-var" style="flex-basis: 100px"
                    ><b>{{get_label "gewicht"}}: </b></label
                >
                <input
                    name="data.gewicht"
                    value="{{data.data.gewicht}}"
                    type="text"
                    data-dtype="Number"
                />
            </div>
            <div class="flexrow">
                <label class="flex-fest-var" style="flex-basis: 100px"><b>Preis: </b></label>
                <input
                    name="data.preis"
                    value="{{data.data.preis}}"
                    type="text"
                    data-dtype="Number"
                />
                <label class="flex-fest-var" style="flex-basis: 100px"><b>ST </b></label>
            </div>
            {{#if hasOwner}}
            <label class="flex-fest-var" style="flex-basis: 100px"><b>Aufbewahrungsort: </b></label>
            <select name="data.aufbewahrungs_ort">
                {{#select data.data.aufbewahrungs_ort}} {{#each speicherplatz_list as |ort|}}
                <option value="{{ort}}">{{ort}}</option>
                {{/each}} {{/select}}
            </select>
            {{/if}}
        </div>
    </div>
</form>
