<form class="{{cssClass}}">
    <div>
        <div>
            <header class="sheet-header">
                <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
                <div class="header-fields">
                    <h1 class="charname">
                        <input name="name" type="text" value="{{data.name}}" />
                    </h1>
                </div>
            </header>
        </div>
        <div>
            <!-- <div>
                 {{#if hasOwner}}
                 <label>Getragen?</label>
                 <input name="data.aktiv" data-dtype="Boolean" type="checkbox" {{checked data.aktiv}}>
                 {{/if}}
                 </div> -->
            <div class="flexrow">
                <h6>RS</h6>
                <h6>BE</h6>
                <h6>Bein</h6>
                <h6>l. Arm</h6>
                <h6>r. Arm</h6>
                <h6>Bauch</h6>
                <h6>Brust</h6>
                <h6>Kopf</h6>
            </div>
            <div class="flexrow">
                <input name="data.rs" value="{{data.data.rs}}" type="text" data-dtype="Number" />
                <input name="data.be" value="{{data.data.be}}" type="text" data-dtype="Number" />
                <input
                    name="data.rs_beine"
                    value="{{data.data.rs_beine}}"
                    type="text"
                    data-dtype="Number"
                />
                <input
                    name="data.rs_larm"
                    value="{{data.data.rs_larm}}"
                    type="text"
                    data-dtype="Number"
                />
                <input
                    name="data.rs_rarm"
                    value="{{data.data.rs_rarm}}"
                    type="text"
                    data-dtype="Number"
                />
                <input
                    name="data.rs_bauch"
                    value="{{data.data.rs_bauch}}"
                    type="text"
                    data-dtype="Number"
                />
                <input
                    name="data.rs_brust"
                    value="{{data.data.rs_brust}}"
                    type="text"
                    data-dtype="Number"
                />
                <input
                    name="data.rs_kopf"
                    value="{{data.data.rs_kopf}}"
                    type="text"
                    data-dtype="Number"
                />
            </div>
            <h5>Gesundheit</h5>
            <div class="flexrow">
                <label>Härte</label>
                <input
                    name="data.haerte"
                    value="{{data.data.haerte}}"
                    type="text"
                    data-dtype="Number"
                />
                <label>Beschädigung</label>
                <input
                    name="data.beschaedigung"
                    value="{{data.data.beschaedigung}}"
                    type="text"
                    data-dtype="Number"
                />
            </div>
            <label>Beschreibung</label>
            <textarea rows="6" name="data.text">{{data.data.text}}</textarea>
            <!-- {{editor content=data.text target="data.text" button=true owner=owner editable=editable}} -->
            <div class="flexrow">
                <label class="flex-fest-var" style="flex-basis: 100px"
                    ><b>{{get_label "gewicht"}}: </b></label
                >
                <input
                    name="data.gewicht"
                    value="{{data.data.gewicht}}"
                    type="text"
                    data-dtype="Number"
                />
            </div>
            <div class="flexrow">
                <label class="flex-fest-var" style="flex-basis: 100px"><b>Preis: </b></label>
                <input
                    name="data.preis"
                    value="{{data.data.preis}}"
                    type="text"
                    data-dtype="Number"
                />
                <label class="flex-fest-var" style="flex-basis: 100px"><b>ST </b></label>
            </div>
            {{#if hasOwner}}
            <label class="flex-fest-var" style="flex-basis: 100px"><b>Aufbewahrungsort: </b></label>
            <select name="data.aufbewahrungs_ort">
                {{#select data.data.aufbewahrungs_ort}} {{#each speicherplatz_list as |ort|}}
                <option value="{{ort}}">{{ort}}</option>
                {{/each}} {{/select}}
            </select>
            {{/if}}
        </div>
    </div>
</form>
