<form class="{{cssClass}}">
    <div>
        <div>
            <header class="sheet-header">
                <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
                <div class="header-fields">
                    <h1 class="charname">
                        <input name="name" type="text" value="{{data.name}}" />
                    </h1>
                </div>
            </header>
        </div>
        <div>
            <div class="flexrow">
                <!-- <h6>Fertigkeit</h6> -->
                <!-- <h6>Faktor</h6> -->
                <h6>Attribute</h6>
                <h6></h6>
                <h6></h6>
                <h6>Basis</h6>
                {{#if hasOwner}}
                <h6>FW</h6>
                {{/if}}
                <!-- !!!!Wichtig!!!!: PW geht so nicht: Er übernimmt die Berechnung nicht. Das ist auch mein Problem beim array bei den Talenten, denke ich -->
                <!-- Was ist der Unterschied zwischen item.data und data?? Bei Label gibt er mir das gleiche aus?? -->
                <!-- <h6>PW</h6> -->
            </div>
            <div class="flexrow">
                <!-- <input name="data.faktor" value="{{item.data.faktor}}" type="text" data-dtype="Number"> -->
                <select name="data.attribut_0">
                    {{#select data.data.attribut_0}} {{>
                    systems/Ilaris/templates/helper/select_attribut.html}} {{/select}}
                </select>
                <select name="data.attribut_1">
                    {{#select data.data.attribut_1}} {{>
                    systems/Ilaris/templates/helper/select_attribut.html}} {{/select}}
                </select>
                <select name="data.attribut_2">
                    {{#select data.data.attribut_2}} {{>
                    systems/Ilaris/templates/helper/select_attribut.html}} {{/select}}
                </select>
                {{#if hasOwner}}
                <input name="data.fw" value="{{data.data.fw}}" type="text" data-dtype="Number" />
                {{/if}}
                <!-- <label> {{item.data.pw}} </label> -->
                <!-- <label> {{data.pw}} </label> -->
            </div>
            <label>Beschreibung</label>
            <textarea rows="6" name="data.text">{{data.data.text}}</textarea>
            <!-- {{editor content=data.text target="data.text" button=true owner=owner editable=editable}} -->
        </div>
    </div>
</form>
