<div>
    <h2>Fertigkeiten</h2>
    <a class="item-create" data-itemclass="fertigkeit"
        ><i class="fas fa-plus"></i>Neue Fertigkeit</a
    >
    <label>&nbsp;&nbsp;</label>
    <a class="item-create" data-itemclass="talent"><i class="fas fa-plus"></i>Neues Talent</a>
    <br />
    <div>
        <div class="flexrow">
            <!-- <h6></h6>
                 <h6>Name</h6>
                 <h6>Talente</h6>
                 <h6>PW</h6>
                 <h6>PW(T)</h6>
                 <h6></h6>
                 <h6></h6> -->
            <label class="icon-small"></label>
            <label><b>Name</b></label>
            <label><b>Talente</b></label>
            <label class="flex-fest-var" style="flex-basis: 40px"><b>PW</b></label>
            <label><b>PW(T)</b></label>
            <label class="icon-small"></label>
            <label class="icon-small"></label>
        </div>
        <div class="twokindrow">
            {{#each data.data.profan.fertigkeiten as |profert key|}}
            <div>
                <div class="flexrow">
                    <a
                        class="rollable icon-small"
                        data-rolltype="profan_fertigkeit_diag"
                        data-fertigkeit="{{key}}"
                        ><i class="fas fa-dice-d20"></i
                    ></a>
                    <label class="ausklappen-trigger onhover" data-ausklappentarget="{{profert.id}}"
                        >{{profert.name}}</label
                    >
                    <label>{{ProfanFertigkeitList profert.data.data.talente}}</label>
                    <label
                        class="rollable flex-fest-var onhover"
                        data-rolltype="profan_fertigkeit_pw"
                        data-fertigkeit="{{profert.name}}"
                        data-pw="{{profert.data.data.pw}}"
                        style="flex-basis: 40px"
                        >{{profert.data.data.pw}}</label
                    >
                    <label
                        class="rollable onhover"
                        data-rolltype="profan_fertigkeit_pwt"
                        data-fertigkeit="{{profert.name}}"
                        data-pwt="{{profert.data.data.pwt}}"
                        >{{profert.data.data.pwt}}</label
                    >
                    <a
                        class="item-edit icon-small"
                        data-itemclass="profan_fertigkeit"
                        data-itemid="{{profert.id}}"
                        ><i class="fas fa-edit"></i
                    ></a>
                    <a
                        class="item-delete icon-small"
                        data-itemclass="profan_fertigkeit"
                        data-itemid="{{profert.id}}"
                        ><i class="fas fa-trash"></i
                    ></a>
                </div>
                <div id="ausklappen-view-{{profert.id}}" style="display: none">
                    <hr />
                    <div class="flexrow">
                        <label><b>Attribute:</b></label>
                        <label><b>Basis:</b></label>
                        <label><b>FW:</b></label>
                    </div>
                    <div class="flexrow">
                        <label>{{AttributeFertigkeit_from_data profert.data.data}}</label>
                        <label>{{profert.data.data.basis}}</label>
                        <label>{{profert.data.data.fw}}</label>
                    </div>
                    <div>
                        <label><b>Beschreibung:</b></label
                        ><br />
                        <label style="white-space: pre-line">{{profert.data.data.text}}</label>
                    </div>
                    <div>
                        <label><b>Talente:</b></label
                        ><br />
                        {{#each profert.data.data.talente as |protal|}}
                        <div>
                            <label
                                class="rollable onhover"
                                ,
                                data-rolltype="profan_talent"
                                ,
                                data-fertigkeit="{{profert.name}}"
                                data-talent="{{protal.name}}"
                                data-pw="{{profert.data.data.pwt}}"
                                ><i>{{protal.name}}</i>:
                            </label>
                            <label style="white-space: pre-line">{{protal.data.data.text}}</label>
                            <a
                                class="item-delete icon-small"
                                data-itemclass="talent"
                                data-itemid="{{protal.id}}"
                                style="float: right"
                                ><i class="fas fa-trash"></i
                            ></a>
                            <a
                                class="item-edit icon-small"
                                data-itemclass="talent"
                                data-itemid="{{protal.id}}"
                                style="float: right"
                                ><i class="fas fa-edit"></i
                            ></a>
                        </div>
                        {{/each}}
                    </div>
                    <hr />
                </div>
            </div>
            {{/each}}
        </div>
        {{#if data.data.profan.talente_unsorted}}
        <hr />
        <hr />
        <label><b>Talente ohne passende Fertigkeit:</b>&nbsp; | &nbsp;</label>
        {{#each data.data.profan.talente_unsorted as |unsortal|}}
        <a class="item-edit" data-itemclass="talent" data-itemid="{{unsortal.id}}">
            {{unsortal.name}}
        </a>
        <a class="item-delete" data-itemclass="talent" data-itemid="{{unsortal.id}}"
            ><i class="fas fa-trash"></i
        ></a>
        &nbsp; | &nbsp; {{/each}}
        <hr />
        <hr />
        {{/if}}
    </div>
    <br />

    <h2>Freie Fertigkeiten</h2>
    <a class="item-create" data-itemclass="freie_fertigkeit"
        ><i class="fas fa-plus"></i>Neue freie Fertigkeit</a
    >
    <br />
    <div>
        <!-- <div class="flexrow">
             <h6>Name</h6>
             <h6>Stufe</h6>
             <h6></h6>
             </div> -->
        {{#each data.data.profan.freie as |freifert|}}
        <a
            class="rollable"
            data-rolltype="freie_fertigkeit_diag"
            data-fertigkeit="{{freifert.name}}"
            data-pw="{{freifert.data.data.stufe}}"
            ><i class="fas fa-dice-d20"></i
        ></a>
        <label
            class="rollable onhover"
            data-rolltype="freie_fertigkeit"
            data-fertigkeit="{{freifert.name}}"
            data-pw="{{freifert.data.data.stufe}}"
            >{{freifert.name}} &nbsp; {{freifert.data.data.stufe}} &nbsp;</label
        >
        <a class="item-edit" data-itemclass="freie_fertigkeit" data-itemid="{{freifert.id}}"
            ><i class="fas fa-edit"></i
        ></a>
        <a class="item-delete" data-itemclass="freie_fertigkeit" data-itemid="{{freifert.id}}"
            ><i class="fas fa-trash"></i
        ></a>
        &nbsp; | &nbsp; {{/each}}
    </div>
</div>
