<div>
    {{#if data.data.modifikatoren.nahkampfmod}}
    <div class="flexrow" style="float: right">
        <b><label style="color: {{modColor data.data.modifikatoren.nahkampfmod}}">{{data.data.abgeleitete.nahkampfmoddisplay}}</label></b>
    </div>
    {{/if}}
    <h2>Nahkampfwaffen</h2>
    <a class="item-create" data-itemclass="nahkampfwaffe"
        ><i class="fas fa-plus"></i>Neue Nahkampfwaffe</a
    >
    <div>
        <select class="selected-kampfstil" name="data.misc.selected_kampfstil">
            {{#select data.data.misc.selected_kampfstil}} {{#each data.data.misc.kampfstile_list}}
            <option value="{{this}}">{{get_label this}}</option>
            {{/each}} {{/select}}
        </select>
    </div>
    <div>
        <div class="flexrow">
            <label class="icon-small"></label>
            <label class="icon-small"><b>HW</b></label>
            <label class="icon-small"><b>NW</b></label>
            <label><b>Name</b></label>
            <label><b>RW</b></label>
            <label><b>AT</b></label>
            <label><b>VT</b></label>
            <label><b>Schaden</b></label>
            <label class="icon-small" style="float: right"></label>
            <label class="icon-small" style="float: right"></label>
        </div>
        {{#each data.data.nahkampfwaffen as |nwaffe key|}}
        <div class="flexrow">
            <!-- <a class="rollable icon-small" data-rolltype="profan_fertigkeit" data-fertigkeit="{{key}}"><i class="fas fa-dice-d20"></i></a> -->
            <a class="rollable icon-small" data-rolltype="nahkampf_diag" data-itemid="{{nwaffe.id}}"
                ><i class="fas fa-dice-d20"></i
            ></a>
            <a
                class="icon-small item-toggle {{nwaffe.data.data.hauptwaffe}}"
                data-itemid="{{nwaffe.id}}"
                data-toggletype="hauptwaffe"
                ><i class="far fa-hand-paper"></i
            ></a>
            <a
                class="icon-small item-toggle {{nwaffe.data.data.nebenwaffe}}"
                data-itemid="{{nwaffe.id}}"
                data-toggletype="nebenwaffe"
                ><i class="far fa-hand-paper"></i
            ></a>
            <label class="ausklappen-trigger onhover" data-ausklappentarget="{{nwaffe.id}}"
                >{{nwaffe.name}}</label
            >
            <label>{{nwaffe.data.data.rw}}</label>
            <label
                class="rollable onhover"
                data-rolltype="at"
                data-pw="{{nwaffe.data.data.at}}"
                data-item="{{nwaffe.name}}"
                data-itemid="{{nwaffe.id}}"
                >{{nwaffe.data.data.at}}</label
            >
            <label
                class="rollable onhover"
                data-rolltype="vt"
                data-pw="{{nwaffe.data.data.vt}}"
                data-item="{{nwaffe.name}}"
                data-itemid="{{nwaffe.id}}"
                >{{nwaffe.data.data.vt}}</label
            >
            <label
                class="rollable onhover"
                data-rolltype="schaden"
                data-pw="{{nwaffe.data.data.schaden}}"
                data-item="{{nwaffe.name}}"
                data-itemid="{{nwaffe.id}}"
                >{{nwaffe.data.data.schaden}}</label
            >
            <!-- <label>{{nwaffe.data.dice_anzahl}}d{{nwaffe.data.dice_typ}}+{{nwaffe.data.plus}}</label> -->
            <a
                class="item-edit icon-small"
                data-itemclass="nahkampfwaffe"
                data-itemid="{{nwaffe.id}}"
                style="float: right"
                ><i class="fas fa-edit"></i
            ></a>
            <a
                class="item-delete icon-small"
                data-itemclass="nahkampfwaffe"
                data-itemid="{{nwaffe.id}}"
                style="float: right"
                ><i class="fas fa-trash"></i
            ></a>
        </div>
        <div id="ausklappen-view-{{nwaffe.id}}" style="display: none">
            <hr />
            <div>
                <label><b>Schaden:</b></label>
                <label>{{nwaffe.data.data.dice_anzahl}}d6+{{nwaffe.data.data.dice_plus}}</label>
            </div>
            <div>
                <label><b>Fertigkeit:</b></label>
                <label>{{nwaffe.data.data.fertigkeit}}</label>
            </div>
            <div>
                <label><b>Talent:</b></label>
                <label>{{nwaffe.data.data.talent}}</label>
            </div>
            <div>
                <label><b>Eigenschaften:</b></label>
                <label>{{waffeneigenschaften_string nwaffe}}</label>
            </div>
            <div>
                <label><b>WM:</b></label>
                <label>{{nwaffe.data.data.wm_at}}</label>
                <label><b>/</b></label>
                <label>{{nwaffe.data.data.wm_vt}}</label>
            </div>
            <div>
                <label><b>Härte:</b></label>
                <label>{{nwaffe.data.data.haerte}}</label>
            </div>
            <div>
                <label><b>Beschädigung:</b></label>
                <label>{{nwaffe.data.data.beschaedigung}}</label>
            </div>
            <div>
                <label><b>Eigene Modifikatoren</b></label>
            </div>
            <div>
                <label><b>WM:</b></label>
                <label>{{nwaffe.data.data.mod_at}}</label>
                <label><b>/</b></label>
                <label>{{nwaffe.data.data.mod_vt}}</label>
            </div>
            <div>
                <label><b>Schadensbonus:</b></label>
                <label>{{nwaffe.data.data.mod_schaden}}</label>
            </div>
            <div>
                <label><b>Beschreibung:</b></label
                ><br />
                <label style="white-space: pre-line">{{nwaffe.data.data.text}}</label>
            </div>
            <hr />
        </div>
        {{/each}}
    </div>
    <br />

    <h2>Fernkampfwaffen</h2>
    <a class="item-create" data-itemclass="fernkampfwaffe"
        ><i class="fas fa-plus"></i>Neue Fernkampfwaffe</a
    >
    <div>
        <div class="flexrow">
            <label class="icon-small"></label>
            <label class="icon-small"><b>HW</b></label>
            <label class="icon-small"><b>NW</b></label>
            <label><b>Name</b></label>
            <label><b>RW</b></label>
            <label><b>LZ</b></label>
            <label><b>FK</b></label>
            <label><b>Schaden</b></label>
            <label class="icon-small" style="float: right"></label>
            <label class="icon-small" style="float: right"></label>
        </div>
        {{#each data.data.fernkampfwaffen}}
        <div class="flexrow">
            <a class="rollable icon-small" data-rolltype="fernkampf_diag" data-itemid="{{this.id}}"
                ><i class="fas fa-dice-d20"></i
            ></a>
            <a
                class="icon-small item-toggle {{this.data.data.hauptwaffe}}"
                data-itemid="{{this.id}}"
                data-toggletype="hauptwaffe"
                ><i class="far fa-hand-paper"></i
            ></a>
            <a
                class="icon-small item-toggle {{this.data.data.nebenwaffe}}"
                data-itemid="{{this.id}}"
                data-toggletype="nebenwaffe"
                ><i class="far fa-hand-paper"></i
            ></a>
            <label class="ausklappen-trigger onhover" data-ausklappentarget="{{this.id}}"
                >{{this.name}}</label
            >
            <label>{{this.data.data.rw}}</label>
            <label>{{this.data.data.lz}}</label>
            <label
                class="rollable onhover"
                data-rolltype="fk"
                data-pw="{{this.data.data.fk}}"
                data-item="{{this.name}}"
                >{{this.data.data.fk}}</label
            >
            <label
                class="rollable onhover"
                data-rolltype="schaden"
                data-pw="{{this.data.data.schaden}}"
                data-item="{{this.name}}"
                >{{this.data.data.schaden}}</label
            >
            <!-- <label>{{nwaffe.data.dice_anzahl}}d{{nwaffe.data.dice_typ}}+{{nwaffe.data.plus}}</label> -->
            <a
                class="item-edit icon-small"
                data-itemclass="fernkampfwaffe"
                data-itemid="{{this.id}}"
                style="float: right"
                ><i class="fas fa-edit"></i
            ></a>
            <a
                class="item-delete icon-small"
                data-itemclass="fernkampfwaffe"
                data-itemid="{{this.id}}"
                style="float: right"
                ><i class="fas fa-trash"></i
            ></a>
        </div>
        <div id="ausklappen-view-{{this.id}}" style="display: none">
            <hr />
            <div>
                <label><b>Schaden:</b></label>
                <label>{{this.data.data.dice_anzahl}}d6+{{this.data.data.dice_plus}}</label>
            </div>
            <div>
                <label><b>Fertigkeit:</b></label>
                <label>{{this.data.data.fertigkeit}}</label>
            </div>
            <div>
                <label><b>Talent:</b></label>
                <label>{{this.data.data.talent}}</label>
            </div>
            <div>
                <label><b>Eigenschaften:</b></label>
                <label>{{waffeneigenschaften_string this}}</label>
            </div>
            <div>
                <label><b>WM:</b></label>
                <label>{{this.data.data.wm_fk}}</label>
            </div>
            <div>
                <label><b>Härte:</b></label>
                <label>{{this.data.data.haerte}}</label>
            </div>
            <div>
                <label><b>Beschädigung:</b></label>
                <label>{{this.data.data.beschaedigung}}</label>
            </div>
            <div>
                <label><b>Eigene Modifikatoren</b></label>
            </div>
            <div>
                <label><b>WM:</b></label>
                <label>{{this.data.data.mod_fk}}</label>
            </div>
            <div>
                <label><b>Schadensbonus:</b></label>
                <label>{{this.data.data.mod_schaden}}</label>
            </div>
            <div>
                <label><b>Beschreibung:</b></label
                ><br />
                <label style="white-space: pre-line">{{this.data.data.text}}</label>
            </div>
            <hr />
        </div>
        {{/each}}
    </div>
    <br />

    <h2>Rüstungen</h2>
    <a class="item-create" data-itemclass="ruestung"><i class="fas fa-plus"></i>Neue Rüstung</a>
    <div>
        <div class="flexrow">
            <h6 class="icon-small"><i class="fas fa-shield-alt"></i></h6>
            <h6>Name</h6>
            <h6>RS</h6>
            <h6>BE</h6>
            <h6>Bein</h6>
            <h6>l. Arm</h6>
            <h6>r. Arm</h6>
            <h6>Bauch</h6>
            <h6>Brust</h6>
            <h6>Kopf</h6>
            <h6 class="icon-small"></h6>
            <h6 class="icon-small"></h6>
        </div>
        {{#each data.data.ruestungen as |ruestung key|}}
        <div class="flexrow">
            <!-- <label>{{ruestung.data.aktiv}}</label> -->
            <a
                class="icon-small item-toggle {{ruestung.data.data.aktiv}}"
                data-itemid="{{ruestung.id}}"
                data-toggletype="aktiv"
                ><i class="fas fa-shield-alt"></i
            ></a>
            <label>{{ruestung.name}}</label>
            <label>{{ruestung.data.data.rs}}</label>
            <label>{{ruestung.data.data.be}}</label>
            <label>{{ruestung.data.data.rs_beine}}</label>
            <label>{{ruestung.data.data.rs_larm}}</label>
            <label>{{ruestung.data.data.rs_rarm}}</label>
            <label>{{ruestung.data.data.rs_bauch}}</label>
            <label>{{ruestung.data.data.rs_brust}}</label>
            <label>{{ruestung.data.data.rs_kopf}}</label>
            <a
                class="item-edit icon-small"
                data-itemclass="ruestung"
                data-itemid="{{ruestung.id}}"
                style="float: right"
                ><i class="fas fa-edit"></i
            ></a>
            <a
                class="item-delete icon-small"
                data-itemclass="ruestung"
                data-itemid="{{ruestung.id}}"
                style="float: right"
                ><i class="fas fa-trash"></i
            ></a>
        </div>
        {{/each}}
        <hr />
        <div class="flexrow">
            <label class="icon-small"></label>
            <label>Gesamt (WS*)</label>
            <label>{{data.data.abgeleitete.ws_stern}}</label>
            <label>{{data.data.abgeleitete.be}}</label>
            <label>{{data.data.abgeleitete.ws_beine}}</label>
            <label>{{data.data.abgeleitete.ws_larm}}</label>
            <label>{{data.data.abgeleitete.ws_rarm}}</label>
            <label>{{data.data.abgeleitete.ws_bauch}}</label>
            <label>{{data.data.abgeleitete.ws_brust}}</label>
            <label>{{data.data.abgeleitete.ws_kopf}}</label>
            <label class="icon-small"></label>
            <label class="icon-small"></label>
        </div>
    </div>
    <br />

    <h2>Vorteile</h2>
    {{#if data.data.vorteil.kampf}}
    <div>
        <label><b>Kampfvorteile:</b>&nbsp; | &nbsp;</label>
        {{#each data.data.vorteil.kampf}}
        <a class="item-edit" data-itemid="{{this.id}}"> {{this.name}} </a>
        <a class="item-delete" data-itemid="{{this.id}}"><i class="fas fa-trash"></i></a>
        &nbsp; | &nbsp; {{/each}}
    </div>
    {{/if}} {{#if data.data.vorteil.kampfstil}}
    <div>
        <label><b>Kampfstile:</b>&nbsp; | &nbsp;</label>
        {{#each data.data.vorteil.kampfstil}}
        <a class="item-edit" data-itemid="{{this.id}}"> {{this.name}} </a>
        <a class="item-delete" data-itemid="{{this.id}}"><i class="fas fa-trash"></i></a>
        &nbsp; | &nbsp; {{/each}}
    </div>
    {{/if}}
</div>
