<!-- <div class="notes">
  <div class="wrapper">
    <h1 style="margin-bottom: 8px;">{{localize "TITLE.NOTES"}}</h1>
    {{editor content=data.notes target="data.notes" button=true owner=owner editable=editable}}
  </div>
</div> -->
<!-- <div> -->
{{editor content=data.data.notes target="data.notes" button=true owner=owner editable=editable}}
<!-- </div> -->
