<div>
    <label>Anzahl W20: </label>
    <label>{{radioBoxes "xd20" choices_xd20 checked=checked_xd20}}</label>
</div>
<div>
    <label>Schips: </label>
    <label>{{radioBoxes "schips" choices_schips checked=checked_schips}}</label>
</div>
<hr />
<div class="flexrow">
    <label>Kombinierte Aktion: </label>
    <!-- <input name="kombinierte_aktion" data-dtype="Boolean" type="checkbox" {{checked kombinierte_aktion}}> -->
    <input type="checkbox" id="kbak" {{checked item.data.data.manoever.kbak.selected}} />
</div>
<hr />
<!-- mächtige magie -->
{{#if manoever.mm_mama.possible}}
<div class="flexrow">
    <label>{{get_label "mm_mama"}}</label>
    <input
        id="mm_mama"
        type="number"
        name="item.data.data.manoever.mm_mama.selected"
        value="{{item.data.data.manoever.mm_mama.selected}}"
        data-dtype="Number"
    />
</div>
{{/if}}
<!-- Mehrere Ziele -->
{{#if manoever.mm_mezi.possible}}
<div class="flexrow">
    <label>{{get_label "mm_mezi"}}</label>
    <input type="checkbox" id="mm_mezi" {{checked item.data.data.manoever.mm_mezi.selected}} />
    <!-- <input
        id="mm_mezi"
        type="number"
        name="item.data.data.manoever.mm_mezi.selected"
        value="{{item.data.data.manoever.mm_mezi.selected}}"
        data-dtype="Number"
    /> -->
</div>
<hr />
{{/if}}
<!-- Reichweite erhöhen -->
{{#if manoever.mm_rwrh.possible}}
<div class="flexrow">
    <label>{{get_label "mm_rwrh"}}</label>
    <input
        id="mm_rwrh"
        type="number"
        name="item.data.data.manoever.mm_rwrh.selected"
        value="{{item.data.data.manoever.mm_rwrh.selected}}"
        data-dtype="Number"
    />
</div>
{{/if}}
<!-- Zaubertechnik ignorieren -->
{{#if manoever.mm_ztig.possible}}
<div class="flexrow">
    <label>{{get_label "mm_ztig"}}</label>
    <input
        id="mm_ztig"
        type="number"
        name="item.data.data.manoever.mm_ztig.selected"
        value="{{item.data.data.manoever.mm_ztig.selected}}"
        data-dtype="Number"
    />
</div>
{{/if}}
<hr/>
<!-- Vorbereitung verkürzen -->
{{#if manoever.mm_vbvk.possible}}
<div class="flexrow">
    <label>{{get_label "mm_vbvk"}}</label>
    <input
        id="mm_vbvk"
        type="number"
        name="item.data.data.manoever.mm_vbvk.selected"
        value="{{item.data.data.manoever.mm_vbvk.selected}}"
        data-dtype="Number"
    />
</div>
{{/if}}
<!-- Wirkungsdauer verlängern -->
{{#if manoever.mm_wkvl.possible}}
<div class="flexrow">
    <label>{{get_label "mm_wkvl"}}</label>
    <input
        id="mm_wkvl"
        type="number"
        name="item.data.data.manoever.mm_wkvl.selected"
        value="{{item.data.data.manoever.mm_wkvl.selected}}"
        data-dtype="Number"
    />
</div>
<hr/>
<!-- Zeit lassen -->
{{#if manoever.mm_ztls.possible}}
<div class="flexrow">
    <label>{{get_label "mm_ztls"}}</label>
    <input type="checkbox" id="mm_ztls" {{checked item.data.data.manoever.mm_ztls.selected}} />
</div>
{{/if}}
{{/if}}
<!-- Erzwingen -->
{{#if manoever.mm_erzw.possible}}
<div class="flexrow">
    <label>{{get_label "mm_erzw"}}</label>
    <input type="checkbox" id="mm_erzw" {{checked item.data.data.manoever.mm_erzw.selected}} />
</div>
{{/if}}
<!-- Kosten sparen -->
<!-- max zweimal, oder mehrmals fuer zB mehrere ziele, so dass man ende nicht unter ein viertel basis kommen kann? -->
{{#if manoever.mm_kosp.possible}}
<div class="flexrow">
    <label>{{get_label "mm_kosp"}}</label>
    <input
        id="mm_kosp"
        type="number"
        name="item.data.data.manoever.mm_kosp.selected"
        value="{{item.data.data.manoever.mm_kosp.selected}}"
        data-dtype="Number"
    />
</div>
{{/if}}
<!-- Zeremonie -->
{{#if manoever.mm_zere.possible}}
<div class="flexrow">
    <label>{{get_label "mm_zere"}}</label>
    <select id="mm_zere">
        {{selectOptions zere_choice selected=item.data.data.manoever.mm_zere.selected
        localize=true}}
    </select>
</div>
{{/if}}
<!-- Opferung -->
{{#if manoever.mm_opfe.possible}}
<div class="flexrow">
    <label>{{get_label "mm_opfe"}}</label>
    <input type="checkbox" id="mm_opfe" {{checked item.data.data.manoever.mm_opfe.selected}} />
</div>
{{/if}}
<hr />
<div class="flexrow">
    <label>Modifikator: </label>
    <input
        id="modifikator"
        type="number"
        name="item.data.data.manoever.mod.selected"
        value="{{item.data.data.manoever.mod.selected}}"
        data-dtype="Number"
    />
</div>
<div class="flexrow">
    <label>Würfelmodus: </label>
    <select id="rollMode">
        {{selectOptions rollModes selected=item.data.data.manoever.rllm.selected localize=true}}
    </select>
</div>
