<form class="{{cssClass}}">
    <div>
        <div>
            <div style="float: left">
                <img
                    class="profile-img"
                    src="{{data.img}}"
                    data-edit="img"
                    title="{{data.name}}"
                    height="100"
                    width="100"
                />
            </div>
            <div style="float: left">
                <input name="name" type="text" value="{{data.name}}" />
                <div class="flexrow">
                    <label>Erschöpfung: </label>
                    <input
                        class="hp-update"
                        name="data.gesundheit.erschoepfung"
                        value="{{data.data.gesundheit.erschoepfung}}"
                        type="text"
                        data-dtype="Number"
                    />
                </div>
                <div class="flexrow">
                    <label>Wunden: </label>
                    <input
                        class="hp-update"
                        name="data.gesundheit.wunden"
                        value="{{data.data.gesundheit.wunden}}"
                        type="text"
                        data-dtype="Number"
                    />
                </div>
                <div class="flexrow"></div>
                <a
                    class="icon-small toggle-bool {{data.data.gesundheit.wundenignorieren}}"
                    data-togglevariable="data.gesundheit.wundenignorieren">
                    Wundabzüge ignorieren 
                    {{#if data.data.gesundheit.wundenignorieren}}
                        (aktiviert)
                    {{else}}
                        (nicht aktiv)
                    {{/if}}
                </a>
            </div>
            </div>
            <div style="float: left">
                <div class="flexrow">
                    <label>Schip: </label>
                    <label>{{data.data.schips.schips}}</label>
                    <!-- <input name="data.schips.schips" value="{{data.schips.schips}}" type="text" data-dtype="Number"> -->
                    <label>Schip*: </label>
                    <input
                        name="data.schips.schips_stern"
                        value="{{data.data.schips.schips_stern}}"
                        type="text"
                        data-dtype="Number"
                    />
                </div>
                <div class="flexrow">
                    <label>WS: </label>
                    <label>{{data.data.abgeleitete.ws}}</label>
                    <label>WS*: </label>
                    <label>{{data.data.abgeleitete.ws_stern}}</label>
                </div>
                <div class="flexrow">
                    <label>MR: </label>
                    <label
                        class="rollable onhover"
                        data-rolltype="simpleprobe_diag"
                        data-name="Magierresistenz"
                        data-pw="{{data.data.abgeleitete.mr}}"
                        >{{data.data.abgeleitete.mr}}
                    </label>
                    <label>INI: </label>
                    <label>{{data.data.abgeleitete.ini}}</label>
                </div>
                <div class="flexrow">
                    <label>GS*: </label>
                    <label>{{data.data.abgeleitete.gs}}</label>
                    <label>DH*: </label>
                    <label>{{data.data.abgeleitete.dh}}</label>
                </div>
                <div class="flexrow">
                    <label>-</label>
                </div>
            </div>
        </div>
        <div style="float: left"></div>
<!--         <div class="flexrow">
            <label>Globaler Mod: </label>
            <label>{{data.data.abgeleitete.globalermod}}</label>
        </div> -->
        <div class="flexrow">
            <label style="{{#if data.data.gesundheit.wundenignorieren }}text-decoration:line-through;{{/if}}">{{data.data.gesundheit.display}}</label>
        </div>
        <div class="flexrow">
            <label>{{data.data.furcht.display}}</label>
        </div>
        <div class="flexrow">
            <input class="flex0" name="data.modifikatoren.manuellermod" value="{{data.data.modifikatoren.manuellermod}}" type="text" data-dtype="Number">
            <label>auf alle Proben (Manuell) </label>
        </div>
        <hr/>
        <div class="flexrow">
            <b><label style="color: {{modColor data.data.abgeleitete.globalermod}}">{{data.data.abgeleitete.globalermoddisplay}}</label></b>
        </div>
        <!-- <div class="flexrow">
            <label>Nahkampf Mod: </label>
            <label>{{data.data.modifikatoren.nahkampfmod}}</label>
        </div> -->
<!--         <div class="flexrow">
            <label>Furcht: </label>
            <label>{{data.data.furcht.display}}</label>
        </div> -->
    </div>
    <div style="clear: both"></div>
    <hr />
    <div class="sheet-tabs tabs" data-group="primary">
        <b class="item" data-tab="attribute">Attribute</b>
        <b class="item" data-tab="fertigkeiten">Fertigkeiten</b>
        <b class="item" data-tab="uebernatuerlich">Magie & Karma</b>
        <b class="item" data-tab="kampf">Kampf</b>
        <b class="item" data-tab="inventar">Inventar</b>
        <b class="item" data-tab="notes">Notizen</b>
        <b class="item" data-tab="effekte">Effekte</b>
    </div>
    <hr />
    <div class="sheet-body">
        <div class="tab" data-group="primary" data-tab="notes">
            {{> systems/Ilaris/templates/sheets/tabs/notes.html}}
        </div>
        <div class="tab" data-group="primary" data-tab="attribute">
            {{> systems/Ilaris/templates/sheets/tabs/attribute.html}}
        </div>
        <div class="tab" data-group="primary" data-tab="fertigkeiten">
            {{> systems/Ilaris/templates/sheets/tabs/fertigkeiten.html}}
        </div>
        <div class="tab" data-group="primary" data-tab="uebernatuerlich">
            {{> systems/Ilaris/templates/sheets/tabs/uebernatuerlich.html}}
        </div>
        <div class="tab" data-group="primary" data-tab="kampf">
            {{> systems/Ilaris/templates/sheets/tabs/kampf.html}}
        </div>
        <div class="tab" data-group="primary" data-tab="effekte">
            {{> systems/Ilaris/templates/sheets/tabs/effekte.html}}
        </div>
        <div class="tab" data-group="primary" data-tab="inventar">
            {{> systems/Ilaris/templates/sheets/tabs/inventar.html}}
        </div>
    </div>
    <!-- </div> -->
</form>
