<form class="{{cssClass}} kreatur-sheet">
    <header class="sheet-header kreatur-header">
        <div style="display: flex; justify-content: space-between;">
            <div class="header-fields">
                <input class="titel-input" style="" name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
                <textarea rows="2" name="data.kurzbeschreibung" type="text">{{data.data.kurzbeschreibung}}</textarea>
            </div>
            <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        </div>
    </header>
    <div style="clear: both"></div>

    <div class="sheet-body">
    <div class="status statblockreihe">
        <div class="flexrow">
            <div class="flexcol">
                <div class="flexrow">
                    <label class="flex1">Wunden/Erschöpft: </label>
                    <div class="flex1">
                        <input class="hp-update" name="data.gesundheit.wunden" type="text" value="{{data.data.gesundheit.wunden}}" data-dtype="Number"/>/
                        <input class="hp-update" name="data.gesundheit.erschoepfung" type="text" value="{{data.data.gesundheit.erschoepfung}}" data-dtype="Number"/>
                    </div>
                </div>
                <!--                     
                <div>
                    <label>Furcht: </label>
                    <input class="hp-update" name="data.furcht.furchtstufe" type="text" value="{{data.data.furcht.furchtstufe}}" data-dtype="Number"/>
                </div> 
                -->
                <!-- <div class="flexrow">
                    <label class="flex1">Schip*: </label>
                    <div class="flex1">
                        <input name="data.schips.schips_stern" value="{{data.data.schips.schips_stern}}" type="text" data-dtype="Number"/>
                    </div>
                </div> -->
                
                <div class="flexrow">
                    <div class="flexcol">
                        <div class="flexrow">
                            <label class="flex1">AsP*/AsP: </label>
                            <div class="flex1">
                                <input class="hp-update" name="data.energien.asp.value" type="text" value="{{data.data.energien.asp.value}}" data-dtype="Number"/>/
                                <input class="hp-update" name="data.energien.asp.max" type="text" value="{{data.data.energien.asp.max}}" data-dtype="Number"/>
                            </div>
                        </div>
                        <div class="flexrow">
                            <label class="flex1">KaP*/KaP: </label>
                            <div class="flex1">
                                <input class="hp-update" name="data.energien.kap.value" type="text" value="{{data.data.energien.kap.value}}" data-dtype="Number"/>/
                                <input class="hp-update" name="data.energien.kap.max" type="text" value="{{data.data.energien.kap.max}}" data-dtype="Number"/>
                            </div>
                        </div>
                        <div class="flexrow">
                            <label class="flex1">GuP*/GuP: </label>
                            <div class="flex1">
                                <input class="flex0 hp-update" name="data.energien.gup.value" type="text" value="{{data.data.energien.gup.value}}" data-dtype="Number"/>/
                                <input class="flex0 hp-update" name="data.energien.gup.max" type="text" value="{{data.data.energien.gup.max}}" data-dtype="Number"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flexcol">
                <div>
                    
                    <label style="{{#if data.data.gesundheit.wundenignorieren }}text-decoration:line-through;{{/if}}">{{data.data.gesundheit.display}}</label>
                    <a
                        class="icon-small toggle-bool {{data.data.gesundheit.wundenignorieren}}"
                        data-togglevariable="data.gesundheit.wundenignorieren"
                        title="tooltip_text"
                    >
                    {{#if data.data.gesundheit.wundenignorieren}}
                        aktivieren
                    {{else}}
                        ignorieren
                    {{/if}}
                    </a>
                </div>
                <label>{{data.data.furcht.display}}</label>
                <div class="flexrow">
                    <input class="flex0" name="data.modifikatoren.manuellermod" value="{{data.data.modifikatoren.manuellermod}}" type="text" data-dtype="Number">
                    <label>auf alle Proben (Manuell) </label>
                </div>
                <hr style="width: 100%; padding-top: 1px; padding-bottom: 1px; margin-top: 1px; margin-bottom: 1px; border-top: 1px solid darkred; border-bottom: 0px;" />
                <div class="flexrow">
                    <b><label style="color: {{modColor data.data.abgeleitete.globalermod}}">{{data.data.abgeleitete.globalermoddisplay}}</label></b>
                </div>
            </div>
        </div>
    </div>
    
    {{#if data.data.eigenschaften}}
    <div class="eigenschaften statblockreihe">
        <b>Eigenschaften: </b>
            {{#each data.data.eigenschaften as |eigenschaft|}}
                <a class="item-edit" data-itemid="{{eigenschaft.id}}">{{eigenschaft.name}}, </a>
            {{/each}}
    </div>
    {{/if}}
    
    {{#if data.data.vorteile}}
    <div class="vorteile statblockreihe">
        <b>Vorteile: </b>
            {{#each data.data.vorteile as |vorteil|}}
                <a class="item-edit" data-itemid="{{vorteil.id}}">{{vorteil.name}}</a>, 
            {{/each}}
    </div>
    {{/if}}

    {{#if data.data.attribute}}
    <div class="attribute statblockreihe">
        <!-- <b>Attribute : </b> -->
        <div class="flexrow">
            {{#each data.data.attribute as |attribut key|}}
            <div class="attributblock flex1 flex-group-center"
            {{#if (ifEq attribut.pw 0)}} 
            style="opacity: 0.4;"
            {{/if}}
            >
                    <b >{{key}}</b>
                <!--<div>-->
                    <input name="data.attribute.{{key}}.pw" type="text" value="{{attribut.pw}}" data-dtype="Number" style="width: 30px;"></input>
                    <a class="rollable icon-small" data-rolltype="attribut_diag" data-attribut="{{key}}">
                        <i class="fas fa-dice-d20"></i>
                    </a>
                <!--</div>-->
            </div>
            {{/each}}
        </div>
    </div>
    {{/if}}

    {{#if data.data.kampfwerte}}
    <div class="kampfwerte statblockreihe">
        <!-- <b>Kampfwerte: </b> -->
        {{#if data.data.modifikatoren.nahkampfmod}}
        <div class="flexrow" style="float: right">
            <b><label style="color: {{modColor data.data.modifikatoren.nahkampfmod}}">{{data.data.abgeleitete.nahkampfmoddisplay}}</label></b>
        </div>
        {{/if}}
        <div class="flexrow">
            {{#each data.data.kampfwerte as |obj key|}}
            <div class="attributblock flex1 flex-group-center" 
                {{#if (ifEq obj 0)}} 
                style="opacity: 0.4;"
                {{/if}}
            >
                    <b>{{get_stat_short key}}</b>
                <!--<div>-->
                    <input name="data.kampfwerte.{{key}}" type="text" value="{{obj}}" data-dtype="Number" style="width: 30px;"></input>
                    {{#if (ifEq key 'mr')}}
                    <a
                        class="rollable icon-small"
                        data-rolltype="simpleprobe_diag"
                        data-probentyp=""
                        data-name="Magieresistenz"
                        data-pw="{{obj}}"
                        ><i class="fas fa-dice-d20"></i
                    ></a>
                    {{/if}}
                <!--</div>-->
            </div>
            {{/each}}
        </div>
        </a>
    </div>
    {{/if}}

    {{#if data.data.angriffe}}
    <div class="angriffe statblockreihe">
        <b>Angriffe: </b>
        {{#each data.data.angriffe as |angriff key|}}
        <div class="flexrow">
            <a 
                class="rollable icon-small" 
                data-rolltype="angriff_diag" 
                data-itemid="{{angriff.id}}"
            >
                <i class="fas fa-dice-d20"></i>
            </a>
                    
            <label><b><a class="item-edit" data-itemid="{{angriff.id}}">{{angriff.name}} </a></b></label>
            {{#if (waffe_ist_fernkampf angriff) }}
            <label>
                LZ: {{angriff.data.data.lz}}
            </label>
            {{/if}}
            <label>RW: {{angriff.data.data.rw}}</label>
            AT<label
                class="rollable onhover"
                data-rolltype="at"
                data-pw="{{angriff.data.data.at}}"
                data-item="{{angriff.name}}"
                data-itemid="{{angriff.id}}"
                >: {{angriff.data.data.at}}</label
            >
            VT<label
                class="rollable onhover"
                data-rolltype="vt"
                data-pw="{{angriff.data.data.vt}}"
                data-item="{{angriff.name}}"
                data-itemid="{{angriff.id}}"
                >: {{angriff.data.data.vt}}</label
            >
            TP<label>
                <a
                class="rollable icon-small"
                data-rolltype="basic"
                data-formula="{{translate_formula angriff.data.data.tp}}"
                data-label="Schaden ({{angriff.name}})"
                >: {{angriff.data.data.tp}}</a> 
            </label>
            <!-- <label>Härte: {{angriff.data.data.haerte}}</label> -->
        </div>
        <div><label>
            {{#each angriff.data.data.eigenschaften as |eig|}}
                <span>{{eig.name}}, </span>
            {{/each}}
        </label></div>
        {{/each}}
    </div>
    {{/if}}

    
    {{#if (isCaster actor)}}
    <div class="freietalente statblockreihe">
        <b>Übernatürliche Fertigkeiten: </b>
        {{#each data.data.uebernatuerlich.fertigkeiten as |freiestalent key|}}
        <label>
            <label>
                <a class="item-edit" data-itemid="{{freiestalent.id}}">{{freiestalent.name}} </a> (
                <label
                class="rollable onhover"
                data-rolltype="profan_fertigkeit_pw"
                data-fertigkeit="{{freiestalent.name}}"
                data-pw="{{freiestalent.data.data.pw}}"
                >{{freiestalent.data.data.pw}}</label
            >  
<!--                     <a
                    class="rollable icon-small"
                    data-rolltype="basic"
                    data-formula="3d20dl1dh1+{{freiestalent.data.data.pw}}"
                    data-label="{{freiestalent.name}}"
                    ><i class="fas fa-dice-d20"></i
                    >
                </a> -->
                <a
                    class="rollable icon-small"
                    data-rolltype="simpleprobe_diag"
                    data-name="{{freiestalent.name}}"
                    data-pw="{{freiestalent.data.data.pw}}"
                    ><i class="fas fa-dice-d20"></i
                ></a>
                ), 
            </label> 
        </label>
        {{/each}}
    </div>

    <div class="freietalente statblockreihe">
        <b>Zauber/Liturgien/Anrufungen: </b>
        {{#each data.data.uebernatuerlich.zauber as |zauber key|}}
        <label>
            <label>
                <a class="item-edit" data-itemid="{{zauber.id}}">{{zauber.name}} </a> (
                <label
                class="rollable onhover"
                data-rolltype="profan_fertigkeit_pw"
                data-fertigkeit="{{zauber.name}}"
                data-pw="{{zauber.data.data.pw}}"
                >{{zauber.data.data.pw}}</label
            >  
            <a class="rollable icon-small" data-rolltype="magie_diag" data-itemid="{{zauber.id}}"><i class="fas fa-dice-d20"></i></a>
                ), 
            </label> 
        </label>
        {{/each}}
        {{#each data.data.uebernatuerlich.liturgien as |liturgie key|}}
        <label>
            <label>
                <a class="item-edit" data-itemid="{{liturgie.id}}">{{liturgie.name}} </a> (
                <label
                class="rollable onhover"
                data-rolltype="profan_fertigkeit_pw"
                data-fertigkeit="{{liturgie.name}}"
                data-pw="{{liturgie.data.data.pw}}"
                >{{liturgie.data.data.pw}}</label
            >  
            <a class="rollable icon-small" data-rolltype="karma_diag" data-itemid="{{liturgie.id}}"><i class="fas fa-dice-d20"></i></a>
                ), 
            </label> 
        </label>
        {{/each}}
        {{#each data.data.uebernatuerlich.anrufungen as |anrufung key|}}
        <label>
            <label>
                <a class="item-edit" data-itemid="{{anrufung.id}}">{{anrufung.name}} </a> (
                <label
                class="rollable onhover"
                data-rolltype="profan_fertigkeit_pw"
                data-fertigkeit="{{anrufung.name}}"
                data-pw="{{anrufung.data.data.pw}}"
                >{{anrufung.data.data.pw}}</label
            >  
            <a class="rollable icon-small" data-rolltype="magie_diag" data-itemid="{{anrufung.id}}"><i class="fas fa-dice-d20"></i></a>
                ), 
            </label> 
        </label>
        {{/each}}
    </div>
    {{/if}}

    {{#if data.data.freietalente}}
    <div class="freietalente statblockreihe">
        <b>Fertigkeiten: </b>
        {{#each data.data.freietalente as |freiestalent key|}}
        <label>
            <label>
                <a class="item-edit" data-itemid="{{freiestalent.id}}">{{freiestalent.name}} </a> (
                <label
                class="rollable onhover"
                data-rolltype="profan_fertigkeit_pw"
                data-fertigkeit="{{freiestalent.name}}"
                data-pw="{{freiestalent.data.data.pw}}"
                >{{freiestalent.data.data.pw}}</label
            >  
<!--                     <a
                    class="rollable icon-small"
                    data-rolltype="basic"
                    data-formula="3d20dl1dh1+{{freiestalent.data.data.pw}}"
                    data-label="{{freiestalent.name}}"
                    ><i class="fas fa-dice-d20"></i
                    >
                </a> -->
                <a
                    class="rollable icon-small"
                    data-rolltype="simpleprobe_diag"
                    data-name="{{freiestalent.name}}"
                    data-pw="{{freiestalent.data.data.pw}}"
                    ><i class="fas fa-dice-d20"></i
                ></a>
                ), 
            </label> 
        </label>
        {{/each}}
    </div>
    {{/if}}

    <!-- <div class="freietalente statblockreihe">
        <b>Übernatürliche Fertigkeiten</b><a class="item-create plus-button" data-itemclass="freiestalent" data-profan="false">[+]</a><b>: </b><br/>
        {{#each data.data.uebernatuerlich.fertigkeiten as |freiestalent key|}}
        <label>
            <label>
                <a class="item-edit" data-itemid="{{freiestalent.id}}">{{freiestalent.name}} </a> (
                <label
                class="rollable onhover"
                data-rolltype="profan_fertigkeit_pw"
                data-fertigkeit="{{freiestalent.name}}"
                data-pw="{{freiestalent.data.data.pw}}"
                >{{freiestalent.data.data.pw}}</label
            >  
                <a
                    class="rollable icon-small"
                    data-rolltype="simpleprobe_diag"
                    data-name="{{freiestalent.name}}"
                    data-pw="{{freiestalent.data.data.pw}}"
                    ><i class="fas fa-dice-d20"></i
                ></a>
                ), 
            </label> 
        </label>
        {{/each}}
    </div>

    <div class="freietalente statblockreihe">
        <b>Zauber</b><a class="item-create plus-button" data-itemclass="zauber">[+]</a><b>: </b><br/>
        {{#each data.data.uebernatuerlich.zauber as |zauber key|}}
        <label>
            <label>
                <a class="item-edit" data-itemid="{{zauber.id}}">{{zauber.name}} </a> (
                <label
                class="rollable onhover"
                data-rolltype="profan_fertigkeit_pw"
                data-fertigkeit="{{zauber.name}}"
                data-pw="{{zauber.data.data.pw}}"
                >{{zauber.data.data.pw}}</label
            >  
            <a class="rollable icon-small" data-rolltype="magie_diag" data-itemid="{{zauber.id}}"><i class="fas fa-dice-d20"></i></a>
                ), 
            </label> 
        </label>
        {{/each}}
    </div>

    <div class="freietalente statblockreihe">
        <b>Liturgien</b><a class="item-create plus-button" data-itemclass="liturgie">[+]</a><b>: </b><br/>
        {{#each data.data.uebernatuerlich.liturgien as |liturgie key|}}
        <label>
            <label>
                <a class="item-edit" data-itemid="{{liturgie.id}}">{{liturgie.name}} </a> (
                <label
                class="rollable onhover"
                data-rolltype="profan_fertigkeit_pw"
                data-fertigkeit="{{liturgie.name}}"
                data-pw="{{liturgie.data.data.pw}}"
                >{{liturgie.data.data.pw}}</label
            >  
            <a class="rollable icon-small" data-rolltype="magie_diag" data-itemid="{{liturgie.id}}"><i class="fas fa-dice-d20"></i></a>
                ), 
            </label> 
        </label>
        {{/each}}
    </div> -->
    
    {{#if data.data.infos}}
    <div class="infos statblockreihe">
        {{#each data.data.infos as |info|}}
        <div class="hangingindent">
            <b><a class="item-edit" data-itemid="{{info.id}}">{{info.name}}</a>:</b>
            {{info.data.data.text}}
        </div>
        {{/each}}
    </div>
    {{/if}}
        <div class="form-group select">
            <select name="data.additemtype" style="max-width: 150px;">
                {{#select data.data.additemtype}}
                <option value="angriff">Angriff</option>
                <option value="eigenschaft">Eigenschaft</option>
                <option value="vorteil">Vorteil</option>
                <option value="freiestalent">Fertigkeit</option>
                <option value="uebernatfreiestalent">Übernat. Fertigkeit</option>
                <option value="zauber">Zauber</option>
                <option value="liturgie">Liturgie</option>
                <option value="anrufung">Anrufung</option>
                <option value="info">Info</option>
                {{/select}}
            </select> 
            <button 
                style="max-width: 150px;" 
                class="item-create" 
                data-itemclass="{{data.data.additemtype}}"
                type="button"
            >
                Hinzufügen
            </button>
        </div>
    </div>
</form>
